<h2 class="text-center"> Some of the gift ideas out!</h2>
<div class="container">
  <div class="text-center">
    <form id="gift-search" >
      <input class="input-lg" type="text" placeholder="search gifts" id="search-input">
      <span>
        <button class="btn btn-link icon ion-ios-search-strong" type="submit"></button>
      </span>
    <a href="/gifts/new" class="btn btn-default"> + Add your idea </a>
    </form>
  </div>
</div>

<div class="container" id="gift-container">
<!-- append gift/index -->
</div>

<script type="text/javascript" src="/js/gift/index.js"></script>