<div class="container">
  <div class="text-center">
    <form id="section-search" >
      <input type="text" placeholder="search gifts" id="search-input">
      <span>
        <button class="btn btn-link icon ion-ios-search-strong" type="submit" id="search-btn"></button>
      </span>
    </form>
    <a href="/gifts/new" class="btn btn-default"> New </a>
  </div>
</div>

<div class="container" id="gift-container">


<!-- append gift/index -->
</div>

<script type="text/javascript" src="/js/gift/index.js"></script>