<div class="landing">
  <div class="white-box">
    <h3 class="text-center">Add your gift idea!</h3>

    <form id="new-gift">
      <div class="form-group">
        <label for="name" class="h5">Name</label>
        <input id="gift-name" class="form-control" type="text" name="gift[name]">
      </div>

      <div class="form-group">
        <label for="shop" class="h5">Shop</label>
        <input id="gift-shop" class="form-control" type="text" name="gift[shop]">
      </div>

      <div class="form-group">
        <label for="description" class="h5">Description</label>
        <input id="gift-description" class="form-control" type="text" name="gift[description]">
      </div>

      <div class="form-group">
        <label for="tags" class="h5">Tags</label>
        <input id="gift-tags" class="form-control" type="text" name="gift[tags]">
      </div>

      <div class="form-group text-center">
      <input class="btn btn-info h2" type="submit" value="Add">
      </div>

    </form>
  </div>
</div>

<script type="text/javascript" src="/js/gift/new.js"></script>