<div class="container" id="gift-single">

</div>

<div class="text-center">
<a href="/gifts/new" class="btn btn-default"> Add new </a>
</div>

<script type="text/javascript" src="/js/gift/show.js"></script>