<div class="landing-new text-center">
  <div class="white-box landing-main col-sm-8 col-sm-push-2">
    <h1>GIFTING</h1>
    <h3>Your souvenir and gift planner</h3>
  </div>
  <div class="landing-login col-sm-12">
    <a href="/auth/facebook" title="login with facebook"><img src="img/fblogin.png" id="fb-login"></a>
    <a href="/gifts" title="See all gifts">Skip</a>
  </div>
</div>
<div class="landing-intro text-center col-xs-10 col-xs-push-1">
  <h3>How does GIFTING help you?</h3>
  <h4>Keep track of your souvenirs and gift ideas while travelling!</h4>
</div>

<script src="/js/static/home.js"></script>