<div class="landing-new text-center">
  <div class="white-box landing-main col-xs-8 col-xs-push-2">
    <img src="img/gifting.png" alt="" class="img-landing">
    <h3>Keep track of your souvenirs and gift ideas while travelling!</h3>
    <div class="landing-login">
      <a href="/auth/facebook" title="login with facebook"><img src="img/fblogin.png" id="fb-login" class="img-landing"></a> &nbsp; or &nbsp;
      <a href="/gifts" title="See all gifts">Skip</a>
    </div>
  </div>
</div>

<script src="/js/static/home.js"></script>