<div class="container">
  <div class="text-center">
    <div id="section-search" >
      <input type="text" placeholder="search gifts" id="search-input">
      <span>
      <button class="btn btn-link icon ion-ios-search-strong" type="button" id="search-btn"></button>
      </span>
    <a href="/gifts/new" class="btn btn-default"> New </a>
    </div>
  </div>
</div>

<div class="container" id="list-container">

</div>

<div class="text-center">
<a href="/gifts" class="btn btn-default"> Find gifts </a>
</div>

<div class="text-center">
<a href="/gifts/new" class="btn btn-default"> Add new </a>
</div>

<script type="text/javascript" src="/js/list/index.js"></script>