<h2 class="text-center"> Your current gift list!</h2>
<div class="container">
  <div class="text-center">
    <form id="list-search" >
      <input type="text" placeholder="search lists" id="list-input" class="input-lg">
      <span>
      <button class="btn btn-link icon ion-ios-search-strong" type="submit"></button>
      </span>
    <a href="/gifts/new" class="btn btn-default"> Add your idea </a>
    <a href="/gifts" class="btn btn-default"> Other gifts </a>
    </form>
  </div>
</div>

<div class="container" id="list-container">
  <!-- append list/index -->
</div>

<script type="text/javascript" src="/js/list/index.js"></script>
